certifi==2020.12.5
chardet==3.0.4
click==7.1.2
clickclick==20.10.2
connexion==2.2.0
Flask==1.1.2
Flask-Testing==0.8.0
idna==2.10
inflection==0.5.1
isodate==0.6.0
itsdangerous==1.1.0
Jinja2==2.11.3
jsonschema==2.6.0
MarkupSafe==1.1.1
openapi-schema-validator==0.1.2
openapi-spec-validator==0.3.0
prance==0.17.0
PyYAML==5.4.1
requests==2.25.1
semver==2.13.0
six==1.15.0
strict-rfc3339==0.7
urllib3==1.26.4
Werkzeug==0.16.1
