attrs==20.2.0
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
clickclick==1.2.2
connexion==2.7.0
Flask==1.1.2
Flask-Testing==0.8.0
idna==2.10
importlib-metadata==1.7.0
inflection==0.5.1
itsdangerous==1.1.0
Jinja2==2.11.2
jsonschema==3.2.0
MarkupSafe==1.1.1
openapi-spec-validator==0.2.9
prance==0.17.0
pyrsistent==0.17.3
PyYAML==5.3.1
requests==2.24.0
semver==2.10.2
six==1.15.0
urllib3==1.25.10
Werkzeug==1.0.1
zipp==3.1.0
