attrs==20.3.0
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
clickclick==20.10.2
connexion==2.7.0
Flask==1.1.2
Flask-Testing==0.8.1
idna==2.10
inflection==0.5.1
isodate==0.6.0
itsdangerous==1.1.0
Jinja2==2.11.3
jsonschema==3.2.0
MarkupSafe==1.1.1
openapi-schema-validator==0.1.5
openapi-spec-validator==0.3.0
prance==0.20.2
pyrsistent==0.17.3
PyYAML==5.4.1
requests==2.25.1
semver==2.13.0
six==1.15.0
urllib3==1.26.4
Werkzeug==1.0.1
